.post_wrapper {
  margin-bottom: 20px;
}
.post_wrapper:last-child {
  margin-bottom: 0;
}

.post {
  display: flex;
  align-items: center;
  border: 1px solid #F7F7F7;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.post img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}